<% @read.each do |article| %>
    <li>
      <IMG SRC="arrow.gif">
        <a href="<%= @url %>" target="_blank" ><%= @title %><small> </small>
          <br>
          <small><%= @description %></small><br>
          <small><%= rand(1..100) %> points by someone <%= rand(1..59) %> minutes ago |</small><a href="comment.html"><small><%= rand(1..100) %> comments</small>
    </li>
<% end %>
